*{
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins ;
    src: url(/fonts/Poppins-Light.ttf);
}

header{
    background-color: coral;
    font-size: x-large;
}

body{
    background-color: rgb(71, 52, 62);
    text-align: center;
    font-family: Poppins;
    color: white;
}

button{
    background-color: coral;
    border: none;
}
button:hover{
    cursor: pointer;
}

table , th ,td ,tr{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: coral;
}
td{
    padding: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns{
    margin-top: 20px;
}

footer{
    background-color: coral;
}

.modal{
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: coral;
    width: fit-content;
    height: fit-content;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    padding: 25px;
}
.modal>*{
    /* margin-inline-start: 20px; */
    margin-top: 20px;
}
.modal button{
    margin: 10px;
    border: 1px white solid;
}

.show{
    display: flex;
}